@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 0.5em;
    }

    nav h2 {
        flex: 100%;
    }

    nav h2 a {
        display: block;
        text-align: center;
    }

    .btn {
        margin: 0 1em;
    }

    #background-thing {
        transform: translateY(3em);
        font-size: 1.5em;
    }

}


body {
    margin: 0;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: lightgrey;
    padding: 1em;
    z-index: 1;
}

nav h2{
    flex: 50%;
}

nav h2 a {
    flex: 50%;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav a:hover {
    color: aquamarine;
}

a:visited {
    text-decoration: none;
    color: black;
}

#background-thing {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #191719;
    color: lightgrey;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    border-radius: 1em;
    font-size: 2em;
    z-index: 1;
    transform: translateY(6em);
}

.btn {
    background-color: aquamarine;
    text-align: center;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    border-radius: 1em;
    font-size: 1.5em;
    margin: 0 35em 0 35em;
    transform: translateY(10em);
    z-index: 1;
}

#color-block {
    background-color: white;
    position: absolute;
    z-index: -1;
    height: 150vh;
    width: 100vw;
}